// src/components/navigation/styles/_bar.scss
@use 'sass:map';
@use '../../../styles/abstract/config' as c;
@use 'base';

.#{c.$prefix}-nav {
  &--bar {
    flex-direction: row;
    width: 100%;
    height: 80px;
    padding: 0 12px;
    justify-content: space-around;

    .#{c.$prefix}-nav-item {
      flex: 1;
      flex-direction: column;
      height: 100%;
      max-width: 168px;
      gap: 4px;

      &:hover {
        .#{c.$prefix}-nav-item-icon {
          @include c.state-layer(var(--mtrl-sys-color-on-surface), 'hover');
        }
      }

      &--active {
        .#{c.$prefix}-nav-item-icon {
          background-color: var(--mtrl-sys-color-secondary-container);
        }
      }

      &-icon {
        margin-bottom: 4px;
        padding: 16px;
        @include c.motion-transition(background-color);
      }

      &-label {
        @include c.typography('label-medium');
        text-align: center;
      }

      &-badge {
        top: 4px;
        right: 50%;
        transform: translateX(12px);
      }
    }
  }
}