// src/components/textfield/styles/_filled.scss
@use 'sass:map';
@use '../../../styles/abstract/config' as c;

.#{c.$prefix}-textfield {
  &--filled {
    border-bottom: 1px solid var(--mtrl-sys-color-outline);
    
    .#{c.$prefix}-textfield-input {
      background-color: var(--mtrl-sys-color-surface-container-highest);
      padding: 20px 16px 7px;
      border-radius: 4px 4px 0 0;
      
      &:focus {
        padding-bottom: 6px;
      }

      // Autofill styles for filled variant
      &:-webkit-autofill {
        border-radius: 4px 4px 0 0;
        
        & ~ .#{c.$prefix}-textfield-label {
          transform: translateY(-95%) scale(0.75);
          color: var(--mtrl-sys-color-on-surface-variant);
        }
      }

      &:autofill {
        & ~ .#{c.$prefix}-textfield-label {
          transform: translateY(-95%) scale(0.75);
          color: var(--mtrl-sys-color-on-surface-variant);
        }
      }
    }

    &:not(.#{c.$prefix}-textfield--empty) .#{c.$prefix}-textfield-label,
    &.#{c.$prefix}-textfield--focused .#{c.$prefix}-textfield-label {
      transform: translateY(-95%) scale(0.75);
    }

    &.#{c.$prefix}-textfield--focused {
      border-bottom: 2px solid var(--mtrl-sys-color-primary);
      .#{c.$prefix}-textfield-label {
        color: var(--mtrl-sys-color-primary);
      }
      &:hover {
        border-bottom: 2px solid var(--mtrl-sys-color-primary);
      }
    }
    
    &:hover {
      border-bottom: 1px solid var(--mtrl-sys-color-primary);
      .#{c.$prefix}-textfield-label {
        color: var(--mtrl-sys-color-primary);
      }
    }
  }
}