// src/components/textfield/styles/_outlined.scss
@use 'sass:map';
@use '../../../styles/abstract/config' as c;

.#{c.$prefix}-textfield {
  &--outlined {
    border: 1px solid var(--mtrl-sys-color-outline);
    border-radius: 4px;
    
    .#{c.$prefix}-textfield-input {
      background-color: transparent;
      padding: 13px 16px 14px;

      // Autofill styles for outlined variant
      &:-webkit-autofill {
        border-radius: 4px 4px 0 0;
        
        & ~ .#{c.$prefix}-textfield-label {
          background-color: var(--mtrl-sys-color-surface);
          transform: translateY(-145%) scale(0.75);
          left: 13px;
          padding: 0 4px;
        }
      }

      &:autofill {
        & ~ .#{c.$prefix}-textfield-label {
          background-color: var(--mtrl-sys-color-surface);
          transform: translateY(-145%) scale(0.75);
          left: 13px;
          padding: 0 4px;
        }
      }
    }

    &:not(.#{c.$prefix}-textfield--empty) .#{c.$prefix}-textfield-label,
    &.#{c.$prefix}-textfield--focused .#{c.$prefix}-textfield-label {
      background-color: var(--mtrl-sys-color-surface);
      transform: translateY(-145%) scale(0.75);
      left: 13px;
      padding: 0 4px;
    }

    &.#{c.$prefix}-textfield--focused {
      border: 2px solid var(--mtrl-sys-color-primary);
      .#{c.$prefix}-textfield-label {
        color: var(--mtrl-sys-color-primary);
        border-radius: 2px;
        left: 12px;
      }
      .#{c.$prefix}-textfield-input {
        padding: 12px 15px 13px;
      }
      &:hover {
        border: 2px solid var(--mtrl-sys-color-primary);
      }
    }
    
    &:hover {
      border: 1px solid var(--mtrl-sys-color-primary);
      .#{c.$prefix}-textfield-label {
        color: var(--mtrl-sys-color-primary);
      }
    }
  }
}