@use "../abstract/base";
@use "../abstract/mixins" as m;

// Base styles
body {
    margin: 0;
    padding: 0;
    background-color: var(--#{base.$prefix}-sys-color-surface);
    color: var(--#{base.$prefix}-sys-color-on-surface);
    font-family: var(--#{base.$prefix}-sys-typescale-body-medium-font);
    font-size: var(--#{base.$prefix}-sys-typescale-body-medium-font-size);
    line-height: var(--#{base.$prefix}-sys-typescale-body-medium-line-height);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    @include m.motion-transition(background-color, color);
}

// // Ensure links have the correct contrast
// a {
//   color: var(--#{base.$prefix}-sys-color-primary);
//   text-decoration: none;

//   &:hover {
//     text-decoration: underline;
//   }

//   // &:focus-visible {
//   //   outline: 2px solid var(--#{base.$prefix}-sys-color-primary);
//   //   outline-offset: 2px;
//   // }
// }

// // Focus styles for keyboard navigation
// // :focus-visible {
// //   outline: 2px solid var(--#{base.$prefix}-sys-color-primary);
// //   outline-offset: 2px;
// // }

// // Use smooth scrolling for the page
html {
    scroll-behavior: smooth;

    @include m.reduced-motion {
        scroll-behavior: auto;
    }
}

// Set box-sizing for all elements
*,
*::before,
*::after {
    box-sizing: border-box;
}
